* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  background-color: #c9c9c9;
}

#name-div {
  text-align: center;
  /* border: 2px solid red; */
  padding-top: 1em;
}

#name-header{
/* padding-top: 1em; */
font-size: 40px;
/* border: 2px solid blue; */
}

#name-info {
  padding-top: 1em;
}

#img-div {
  /* border: 2px solid blue; */
  margin: 1em;
  padding: 2em 2em 1em 2em;
  background-color: #ffffff;
}

#img-caption {
  background-color: #ffffff;
}

img {
  display: block;
}

#image {
  max-width: 100%;
  height: auto;
}

#img-caption {
  text-align: center;
}

#tribute-info {
  text-align: center;
}

#tribute-info {
  padding-bottom: 1em;
}

ul {
  padding: 0 3em;
  /* border: 2px solid blue; */
}
ul li {
  padding: .5em
}

#footer {
  /* border: 2px solid blue; */
  padding: 1em;
  text-align: center;
}